form(action="/api/exercise/add" method="post" class="six column")
    h4 Add Exercise
    input(type="text" name="userid" placeholder="userID*")
    br
    input(type="text" name="description" placeholder="description")
    br
    input(type="number" name="duration" placeholder="duration* (mins.)")
    br
    input(type="text" name="date" placeholder="date (yyyy-mm-dd)")
    br
    input(type="submit", value="Submit" class="button-primary")