form(action="/api/exercise/new-user" method='POST' class="six column")
    h4 Create a New User
    p(class="error") #{message}
    input(type="text" name="username" placeholder="username")
    button(type="submit" class="button-primary") Submit